{
  "env": {
    "browser": true,
    "mocha": true,
  },
  "globals": {
    "expect": true
  },
  "extends": "airbnb",
  "rules": {
    "react/forbid-prop-types": 0,
    "no-unused-expressions": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/no-static-element-interactions": 0,
    "class-methods-use-this": 0
  }
}
