.shortcode {
  color: #EB4A42;
}

.longUrl {
  padding-top: 15px;
  color: #CCC;
  font-weight: 300;
}

.visits {
  line-height: 53px;
}

.link {
  width: 380px;
  text-decoration: none;
}

.link .copyLink {
  color: #EB4A42;
  visibility: hidden;
  padding-left: 25px;
  font-weight: 300;
}

.link:hover .copyLink {
  visibility: visible;
}

.row {
  padding-bottom: 40px;
}
